
body {
    overflow:scroll;
    position:relative;
    background-repeat: repeat;
}

.weapon-description{
    font-size:15px;
}

.weapon-class-description {
    margin:auto;
    font-size: 20px;
    width:97%;
    background-color: white;
}


#center {
    margin-left:auto;
    margin-right:auto;
    
    position:relative;   
    text-align: center;
    
}
#weapons {
    margin-left:20px;
    margin-right:20px;
    background-color:whitesmoke;
    border-collapse:collapse;
    opacity: 0.94;
}
#weapons td{
    border: 1px solid gainsboro;
    padding: 5px;
}
#weapons tr td div{
    height: 100px;
}
#weapons tr td div img{
    height: 90%;
}
#effects {
    margin-left:20px;
    margin-right:20px;
    background-color:whitesmoke;
    border-collapse:collapse;
    opacity: 0.94;
}
#effects td{
    border: 1px solid gainsboro;
    padding: 5px;
}
#effects tr td div{
    height: 100px;
}
#effects tr td div img{
    height: 90%;
}


